{% extends 'chat/base.html' %}

{% block title %}{% endblock %}

{% load static %}
<!-- 

<div>
    {% for message in conversation.conversation.all %}
        <p>{{message}} | {{message.created_by}} | {{message.created_at}}</p>
    {% endfor %}

    <form action="." method="post">{% csrf_token %}
        <input type="text" name="message" class="border">

        <input type="submit">
    </form>
</div>


 -->
 {% block content %}

 

 <div class="bg-gradient-to-r from-amber-300 via-amber-200 to-amber-300 flex flex-col justify-center items-center h-screen"
 style="height: calc(100vh - 62px);">
    <div class="max-w-7xl w-full mx-auto bg-white p-6 rounded-lg shadow-lg font-sans text-gray-800 overflow-y-auto max-h-screen" id="messageContainer">
        {% for message in conversation.conversation.all %}
            <div class="flex {% if message.created_by == user %}flex-row-reverse{% else %}flex-row{% endif %} py-2">
                <div class="p-2 bg-gray-100 rounded-lg">
                    <p class="text-lg">{{ message }}</p>
                    <p class="text-sm text-gray-600">{{ message.created_by }} | {{ message.created_at }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="max-w-7xl w-full mx-auto mt-4 bg-white p-4 rounded-lg shadow-lg font-sans text-gray-800">
        <form action="." method="post" id="message-form" class="flex items-center">
            {% csrf_token %}
            <input type="text" name="message" id="message-box" class="flex-grow px-4 py-4 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400">

            <button type="submit" id="send-button" class="ml-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-4 px-8 rounded focus:outline-none focus:shadow-outline">
                Send
            </button>
        </form>
    </div>

</div>

<script src="{% static 'js/encrypt.js' %}"></script>
<script src="{% static 'js/messages.js' %}"></script>

<script>
  // Wait for the DOM to load
  document.addEventListener('DOMContentLoaded', function () {
    // Scroll to the bottom of the message container
    const messageContainer = document.getElementById('messageContainer');
    messageContainer.scrollTop = messageContainer.scrollHeight;

    window.scrollTo(0, document.body.scrollHeight);
  });
  console.log("{{user}}")

  const user = "{{user}}";

  
</script>

{% endblock %}

 
 
 
 
 
 
 
 
 
 
 
 
 